
@charset "utf-8";
@font-face {
    font-family: 'GibsonBold';
    src: url('../../fonts/FONTSPRINGDEMO-GibsonBold.eot');
    src: url('../../fonts/FONTSPRINGDEMO-GibsonBold.eot') format('embedded-opentype'),
    url('../../fonts/FONTSPRINGDEMO-GibsonBold.woff2') format('woff2'),
    url('../../fonts/FONTSPRINGDEMO-GibsonBold.woff') format('woff'),
    url('../../fonts/FONTSPRINGDEMO-GibsonBold.ttf') format('truetype'),
    url('../../fonts/FONTSPRINGDEMO-GibsonBold.svg#FONTSPRINGDEMO-GibsonBold') format('svg');
} 
@font-face {
    font-family: 'GibsonRegular';
    src: url('../../fonts/FONTSPRINGDEMO-GibsonRegular.eot');
    src: url('../../fonts/FONTSPRINGDEMO-GibsonRegular.eot') format('embedded-opentype'),
    url('../../fonts/FONTSPRINGDEMO-GibsonRegular.woff2') format('woff2'),
    url('../../fonts/FONTSPRINGDEMO-GibsonRegular.woff') format('woff'),
    url('../../fonts/FONTSPRINGDEMO-GibsonRegular.ttf') format('truetype'),
    url('../../fonts/FONTSPRINGDEMO-GibsonRegular.svg#FONTSPRINGDEMO-GibsonRegular') format('svg');
}

@font-face {
    font-family: 'GibsonMedium';
    src: url('../../fonts/FONTSPRINGDEMO-GibsonMediumRegular.eot');
    src: url('../../fonts/FONTSPRINGDEMO-GibsonMediumRegular.eot') format('embedded-opentype'),
    url('../../fonts/FONTSPRINGDEMO-GibsonMediumRegular.woff2') format('woff2'),
    url('../../fonts/FONTSPRINGDEMO-GibsonMediumRegular.woff') format('woff'),
    url('../../fonts/FONTSPRINGDEMO-GibsonMediumRegular.ttf') format('truetype'),
    url('../../fonts/FONTSPRINGDEMO-GibsonMediumRegular.svg#FONTSPRINGDEMO-GibsonMediumRegular') format('svg');
}

@font-face {
    font-family: 'GibsonBook';
    src: url('../../fonts/FONTSPRINGDEMO-GibsonBookRegular.eot');
    src: url('../../fonts/FONTSPRINGDEMO-GibsonBookRegular.eot') format('embedded-opentype'),
    url('../../fonts/FONTSPRINGDEMO-GibsonBookRegular.woff2') format('woff2'),
    url('../../fonts/FONTSPRINGDEMO-GibsonBookRegular.woff') format('woff'),
    url('../../fonts/FONTSPRINGDEMO-GibsonBookRegular.ttf') format('truetype'),
    url('../../fonts/FONTSPRINGDEMO-GibsonBookRegular.svg#FONTSPRINGDEMO-GibsonBookRegular') format('svg');
} 

@font-face {
    font-family: 'RocGrotesk-light';
    src: url('../../fonts/FONTSPRINGDEMO-RocGroteskCompressedLightRegular.eot');
    src: url('../../fonts/FONTSPRINGDEMO-RocGroteskCompressedLightRegular.eot') format('embedded-opentype'),
    url('../../fonts/FONTSPRINGDEMO-RocGroteskCompressedLightRegular.woff2') format('woff2'),
    url('../../fonts/FONTSPRINGDEMO-RocGroteskCompressedLightRegular.woff') format('woff'),
    url('../../fonts/FONTSPRINGDEMO-RocGroteskCompressedLightRegular.ttf') format('truetype'),
    url('../../fonts/FONTSPRINGDEMO-RocGroteskCompressedLightRegular.svg#FONTSPRINGDEMO-RocGroteskCompressedLightRegular') format('svg');
}
@font-face {
    font-family: 'RocGrotesk-Regular';
    src: url('../../fonts/FONTSPRINGDEMO-RocGroteskCompressedRegular.eot');
    src: url('../../fonts/FONTSPRINGDEMO-RocGroteskCompressedRegular.eot') format('embedded-opentype'),
    url('../../fonts/FONTSPRINGDEMO-RocGroteskCompressedRegular.woff2') format('woff2'),
    url('../../fonts/FONTSPRINGDEMO-RocGroteskCompressedRegular.woff') format('woff'),
    url('../../fonts/FONTSPRINGDEMO-RocGroteskCompressedRegular.ttf') format('truetype'),
    url('../../fonts/FONTSPRINGDEMO-RocGroteskCompressedRegular.svg#FONTSPRINGDEMO-RocGroteskCompressedRegular') format('svg');
}
@font-face {
    font-family: 'RocGrotesk-Bold';
    src: url('../../fonts/FONTSPRINGDEMO-RocGroteskBold.eot');
    src: url('../../fonts/FONTSPRINGDEMO-RocGroteskBold.eot') format('embedded-opentype'),
    url('../../fonts/FONTSPRINGDEMO-RocGroteskBold.woff2') format('woff2'),
    url('../../fonts/FONTSPRINGDEMO-RocGroteskBold.woff') format('woff'),
    url('../../fonts/FONTSPRINGDEMO-RocGroteskBold.ttf') format('truetype'),
    url('../../fonts/FONTSPRINGDEMO-RocGroteskBold.svg#FONTSPRINGDEMO-RocGroteskBold') format('svg');
}
@font-face {
    font-family: 'RocGrotesk-Wide';
    src: url('../../fonts/FONTSPRINGDEMO-RocGroteskExtraWideRegular.eot');
    src: url('../../fonts/FONTSPRINGDEMO-RocGroteskExtraWideRegular.eot') format('embedded-opentype'),
    url('../../fonts/FONTSPRINGDEMO-RocGroteskExtraWideRegular.woff2') format('woff2'),
    url('../../fonts/FONTSPRINGDEMO-RocGroteskExtraWideRegular.woff') format('woff'),
    url('../../fonts/FONTSPRINGDEMO-RocGroteskExtraWideRegular.ttf') format('truetype'),
    url('../../fonts/FONTSPRINGDEMO-RocGroteskExtraWideRegular.svg#FONTSPRINGDEMO-RocGroteskExtraWideRegular') format('svg');
}
@font-face {
    font-family: 'RocGrotesk-Medium';
    src: url('../../fonts/FONTSPRINGDEMO-RocGroteskCompressedMediumRegular.eot');
    src: url('../../fonts/FONTSPRINGDEMO-RocGroteskCompressedMediumRegular.eot') format('embedded-opentype'),
    url('../../fonts/FONTSPRINGDEMO-RocGroteskCompressedMediumRegular.woff2') format('woff2'),
    url('../../fonts/FONTSPRINGDEMO-RocGroteskCompressedMediumRegular.woff') format('woff'),
    url('../../fonts/FONTSPRINGDEMO-RocGroteskCompressedMediumRegular.ttf') format('truetype'),
    url('../../fonts/FONTSPRINGDEMO-RocGroteskCompressedMediumRegular.svg#FONTSPRINGDEMO-RocGroteskCompressedMediumRegular') format('svg');
}
