/* General */

/* color */

// $white:#fff;

$black:#000;
$gray:gray;
$blue:#896FFF;
$white:#fff;

$off_white:#FFFCF8;






$pri_font:'RocGrotesk-Regular';
$pri_light_font:'RocGrotesk-light';
$pri_bold_font: 'RocGrotesk-Bold';
$pri_wide_font: 'RocGrotesk-Wide';


$sec_med_font: 'GibsonMedium';
$sec_book_font: 'GibsonBook';
$sec_reg_font: 'GibsonRegular';
$sec_bold_font: 'GibsonBold';

